{
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "^types$",
    "^@/types/(.*)$",
    "^@/config/(.*)$",
    "^@/util/(.*)$",
    "^@/auth/(.*)$",
    "^@/components/(.*)$",
    "^@/contexts/(.*)$",
    "^@/hooks/(.*)$",
    "^@/styles/(.*)$",
    "^@/mappings/(.*)$",
    "^@/enums/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
