-- DB作成
CREATE DATABASE ${POSTGRES_DB}; 

-- 作成したDBへ切り替え
\c ${POSTGRES_DB}

-- スキーマ作成
CREATE SCHEMA ${POSTGRES_APP_SHEME};

-- ロールの作成
CREATE ROLE ${POSTGRES_LOGIN_USER} WITH LOGIN PASSWORD '${POSTGRES_LOGIN_PASSWORD}';

-- 権限追加
GRANT ALL PRIVILEGES ON SCHEMA ${POSTGRES_APP_SHEME} TO ${POSTGRES_LOGIN_USER};