default ${PROXY_SERVER_FRONTEND}:${FRONTEND_PROXY_PORT};
~openapi ${OPENAPI_CONTAINER}:${OPENAPI_PORT};
~api ${PROXY_SERVER_BACKEND}:${BACKEND_PROXY_PORT};
# ~dbadmin ${DBADMIN_CONTAINER}:${DBADMIN_PORT};
# ~redis ${REDISCOMMANDER_CONTAINER}:${REDISCOMMANDER_PORT};